.App {
	text-align: center;
	height: 100vh;
	background-image: url(../../assets/tripImage.jpg);
	justify-content: center;
	align-items: center;
	display: flex;
	justify-items: center;
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
}

.route-container {
	background-color: palegreen;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	display: grid;
	justify-items: center;
	border: 2px solid darkgray;
	border-radius: 10px;
	margin: 0 35%;
	padding: 5%;
	box-sizing: border-box;
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	box-shadow: 0px 0px 17px 1px #1d1f26;
	background: #f7f7fa;
}

.nav {
	height: 50px;
	background-size: cover;
	background-position: center;
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
	display: flex;
	text-decoration: none;
	justify-content: center;
}

/* .main-page {
	width: 30%;
	height: 50vh;
	justify-content: center;
	align-items: center;
	display: grid;
	justify-items: center;
	border: 2px solid red;
	border-radius: 10px;
	margin: 10% 35%;
	padding: 5%;
	box-sizing: border-box;
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	box-shadow: 0px 0px 17px 1px #1d1f26;
	background: #f7f7fa;
}

.label-text {
	display: block;
	font-size: 16px;
	margin-bottom: 4px;
	text-align: center;
	color: #777;
}

.date-input {
	font-size: 14px;
	display: flex;
	justify-content: center;
	border-radius: 55px;
	margin: 10px 10px;
}

.place-input {
	width: 90%;
	text-align: center;
	border: 1px solid #eeeeee;
	outline: none;
}

.sub-btn {
	cursor: pointer;
	padding: 12px;
	background: #7c5cbf;
	border: none;
	color: white;
	font-size: 16px;
	transition: background 0.3s ease;
} */
