.nav {
	height: 50px;
	background-size: cover;
	background-position: center;
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
	display: flex;
	text-decoration: none;
	justify-content: center;
}

.nav-links {
	text-decoration: none;
	color: #000;
}
.nav-links:hover{
	background-color: gainsboro;
}

.nav-item {
	margin: 0 10px;
	margin-bottom: 100px;
	text-decoration: none;
}
